main{
    background-image: url("./assets/bg/kelli-tungay-324329-unsplash.jpg");
    background-size: contain;
    /* margin: auto 0; */
    text-align: center;
    /* height: -webkit-fill-available; */

    /* background-attachment: fixed; */
    background-position: right;
    background-repeat: repeat;
}
.banner{
    /* background-image: url("https://satyamchourey.github.io/portfolio/assets/banner.JPG"); */
    background-image: url('./newBanner.JPG');
    background-size: cover;
    background-position: center;
    height: auto;
}

@media screen and (min-width: 480px){
    .banner{
        height:-webkit-fill-available ;
    }
}

.heading{
    font-family: 'Indie Flower', cursive;

}
.gFont{
    font-family: 'Shadows Into Light', cursive;
}
.text{
    margin-left: 30%;
}
.work{
border-radius: 10px;
}

.logo{
    height: 50px;
}
.teamContainer, .team{
    padding: 20px;
    display: flex;
}
